@media print {
  @page {
    size: landscape
  }
  .mainLeft {
    height: 100%;
    width: 2300px;
    margin-bottom: 700px;
  }
  #footer, .shareAndPrint, .forecast, .navbar, .versus, .fullscreen {
    display: none;
  }
  .togglePanel {
    width: 70%;
    height: 70%;
  }
  .triggerPanel {
    margin-top: 100px;
    width: 200%;
  }
  #triggerPanelPrint {
    margin-bottom: 600px;
  }
  .triggersOnlyPrint {
    display: block;
    border: 2px solid gray;
    height: 100%;
    width: 110%;
    top: 0;
    left: 80px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    margin-top: -100px;
    padding: 5px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
  .triggersOnlyPrintHide {
    display: none;
  }

}