<div>
  <h4>{{title}}</h4>
  <i ng-show="toggle"
     ng-click="toggle =! toggle"
     style="cursor: pointer"
     class="fa fa-2x fa-close"
     ng-show="toggle">
  </i>

  <div ng-show="!toggle">
    <i ng-click="toggle =! toggle"
       style="cursor: copy"
       class="fa fa-4x fa-{{icon}}"></i>
  </div>

  <div ng-if="toggle && !multiDropDownSwitch"
       ng-dropdown-multiselect=""
       options="data"
       selected-model="model"
       extra-settings="example5settings" translation-texts="test">
  </div>

  <div ng-if="toggle && multiDropDownSwitch" ng-repeat="dropdown in dropdownList track by $index">
    <br />
    <div class="row">
      <div class="col-sm-12">
        {{dropdown.title}}
        <div ng-dropdown-multiselect=""
             options="profile[dropdown.data]"
             selected-model="profile[dropdown.model]">
        </div>
      </div>
    </div>
  </div>
</div>
