.members {

  &__container {
    width: 1600px;
  }

  &__table {
    table-layout: fixed;
  }

  &__td--word-break {
    word-break: break-word;
  }
}

.glyphicon span {
  font-family: "Helvetica";
}
