.box-watches {
  width:95%;
  margin:auto;
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;

  a:link {
    color: #FF0000;
  }

  a:visited {
   color: #FF0000;
  }

  a:hover {
    color: #FF0000;
  }

  a:active {
    color: #FF0000;
  }
}